.border{
    color: aqua;
    text-align: center;
    border: 2px solid powderblue;
v
}
p{
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
Body{
   background-color: black;
}
h2{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif\;
}